[ARTS]
################################################################################
# crete: 1 node, EXCL x PURGE
#
################################################################################

# --- threading ---
worker_threads=16
progress_threads=1
pin=1

# --- scheduling ---
worker_init_deque_size=4096
route_table_size=16

# --- networking ---
provider=tcp
port_count=1

# --- launcher ---
launcher=ssh
master_node=ca-fcp0
node_count=1
nodes=ca-fcp0
ports=25000

# --- debug ---
core_dump=0
kill_mode=0

# --- CXL store (read only by a CXL build) ---
cxl_db_allocation_strategy=round_robin
cxl_db_allocation_device=0
