[ARTS]
################################################################################
# crete: 4 nodes, EXCL x PURGE, local launcher
#
################################################################################

# --- threading ---
worker_threads=16
progress_threads=1
pin=1

# --- scheduling ---
worker_init_deque_size=4096
route_table_size=16

# --- networking ---
provider=tcp
port_count=1

# --- launcher ---
launcher=local
node_count=4

# --- debug ---
core_dump=0
kill_mode=0

# --- CXL store (read only by a CXL build) ---
cxl_db_allocation_strategy=round_robin
cxl_db_allocation_device=0
